* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: Arial, sans-serif; 
}

body { 
    background: #033215; 
    padding: 20px; 
}

header { 
    text-align: center; 
    padding: 20px 0; 
    background: #033215; 
    margin-bottom: 20px; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
}
header h1 { font-size: 50px; 
    font-weight: bold;
    color: rgb(181, 181, 143);
}

.controls { 
    display: flex; 
    justify-content: center; 
    gap: 20px; margin-bottom: 
    25px;color: #2c2c2c;
 }
select, input { 
    padding: 10px 15px; 
    font-size: 16px; 
    border-radius: 6px; 
    border: 1px solid #0a0a0a; 
}
.blog-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    gap: 20px;
    justify-content: center;;
}

.card {
    min-height: 320px;
    display: flex;
    flex-direction: column;
    background: rgb(181, 181, 143);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 18px 22px rgba(60, 59, 59, 0.1);
    transition: transform .2s;
}

.card:hover { transform: translateY(-5px); }

.card img {
    width: 200%;
    height: 380px;
    object-fit: cover;
}
.card-content { padding: 15px; }
.card-content h3 { margin-bottom: 10px; font-size: 20px; }
.card-content p { color: #111010; margin-bottom: 10px; }
.card-content small { color: #777; font-size: 14px; }

.pagination { 
    text-align: center; 
    margin-top: 25px; 
}
.pagination button { 
    padding: 10px 20px; 
    margin: 0 10px; 
    border: none; 
    background: #333; 
    color: white; 
    border-radius: 6px; 
    cursor: pointer; 
    margin-top: 150px;
}
.pagination button:disabled {
     background: #999; 
     cursor: not-allowed; 
    }