
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: white;
    color: #222;
    transition: background 0.3s, color 0.3s;
}

body.dark {
    background: #121212;
    color: #eaeaea;
}

.toggle-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background: white;
    border: none;
    padding: 10px 12px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1001;
}

body.dark .toggle-btn {
    background: #1f1f1f;
    color: white;
}

.dark-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background: white;
    border: none;
    padding: 10px 12px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1001;
}

body.dark .dark-btn {
    background: #1f1f1f;
    color: white;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: white;
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
    overflow-x: hidden;
    transition: width 0.3s ease;
    padding: 20px;
    z-index: 1000;
}

body.dark .sidebar {
    background: #1f1f1f;
}

.sidebar.open {
    width: 250px;
}

.close-btn {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    color: inherit;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;

}

.links {
    list-style: none;
    padding: 0;
}

.links li {
    padding: 12px 0;
    font-size: 18px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.links li:hover {
    color: #3498db;
}

body.dark .links li:hover {
    color: #8ab4f8;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 999;
}

.overlay.show {
    opacity: 1;
    pointer-events: auto;
}

@media (max-width: 768px) {
    .sidebar.open {
        width: 70%;
        max-width: 300px;
    }
}
